.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px;
}

body {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: antiquewhite !important;
}
a {
    color: antiquewhite !important;
}
.none {
    display: none;
}